@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{

    .hs-overlay-backdrop{
    opacity: 50%
    }

    .container{
        @apply max-w-7xl;
    }
    .card {
        @apply rounded-md shadow-md bg-white relative;
    }
    .card-body {
        @apply p-6;
    }
    .hs-dropdown-menu{
        @apply  shadow-md bg-white relative rounded-md;  
    }

    .btn{
        @apply rounded-md text-sm py-2 px-4 text-center;
    }
    .btn-outline-primary{
        @apply rounded-md border text-sm py-2 px-4 text-center;
    }

    .margin0{
        margin-bottom: 0 !important;
    }

    tr:hover .highlight {
        @apply text-table-1 text-xl;
    }

    .hidden {
        display: none;
    }
    .active {
        display: table;
    }


    .nav-items {

		@apply px-4 text-xl text-center align-baseline font-semibold duration-300 hover:text-slate-200
	}


    .unset{
        display: unset;
    }


}
